.dashboard-wrapper{
    display: flex;
    flex-direction: row;
    height: 80vh;
}

.sections{
    background-color: #444444;
    display: flex;
    flex-direction: column;
}
.sections h2{
    color: #fdfdfd;
    margin: 0 auto 10px;
    padding: 10px;
    border-bottom: 1px solid #fff;
}

.sections .links{
    padding: 10px 60px;
    text-decoration: none;
    font-size: 24px;
    color: #fdfdfd;
    border-bottom: 1px solid #444444;
}

.sections .links:hover{
    border-bottom: 1px solid #fff;
    color: #d7d7d7 ;
}

.content{
    background-color: green;
    flex-grow: 1;
}

