.dashboard-wrapper{
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.dashboard-header{
    display: flex;
    flex-direction: row;
    font-family: 'Poppins', sans-serif;
}

.button-modal{
    margin: auto 0 auto auto;
    width: 45px;
    height: 45px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    background-color: rgb( 43, 153, 91 );
    border: 1px solid rgb( 33, 126, 74 );
    cursor: pointer;
}

.button-modal:hover{
    background-color: rgb( 75, 183, 141 );
}

.dashboard-header .search-bar{
   margin: auto 0;
}

.search-bar label{
    margin: 0 10px;
    font-size: 18px;
}

.search-bar input{
    font-size: 1.1rem;
    padding: 7px 5px;
}

.sections{
    background-color: #444444;
    display: flex;
    flex-direction: column;
}
.sections h2{
    color: #fdfdfd;
    margin: 0 auto 10px;
    padding: 10px;
    border-bottom: 1px solid #fff;
}

.sections .links{
    padding: 10px 60px;
    text-decoration: none;
    font-size: 24px;
    color: #fdfdfd;
    border-bottom: 1px solid #444444;
}

.sections .links:hover{
    border-bottom: 1px solid #fff;
    color: #d7d7d7 ;
}

.content{
    background-color: #fdfdfd;
    flex-grow: 1;
    padding: 10px;
    border-top: 1px solid #444444;

}

